__pycache__

# Test notebooks
notebooks/figures.ipynb
notebooks/data_analysis.ipynb
notebooks/peaks.ipynb
notebooks/load_fit.ipynb
notebooks/data.ipynb
notebooks/Curve_Fitting_Demo.ipynb

# Folders
figures/
data/

# CNN files to ignore
src/cnn1d/lightning_logs/
src/cnn1d/notebook.ipynb
src/cnn1d/config.yaml
src/cnn1d/mlruns/
src/cnn1d/checkpoints